/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 09/04/2024 17:47:54
*/

.profileimage img{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.iconeHand i{
font-size: 30px;
}