/*
  Authors : Mudey Formation
  Website : https://mudey.fr/
  App Name : E-commerce with React.Js
  Created At : 14/02/2024 10:12:56
*/

.SiteEditor {
  height: 100vh;
}
.SiteEditor header select{
  outline: none;
}
.SiteEditor header{
  height: 40px;
}
.SiteEditorContent main{
  width: 100%;
  border: 2px dashed white;
  overflow: hidden;
  /* margin: 5px; */
}
.SiteEditorContent main.over{
  width: 100%;
  border: 2px dashed green;
}
.SiteEditorContent main,
.SiteEditorContent aside{
  height: calc(100vh - 40px - 8px);
  overflow-y: auto;
}
.SiteEditorContent aside{
 border-right: 1px solid #161616;
 background-color: rgb(248, 248, 248);
 width: 300px;
}